rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mail_receipts/{document} {
      allow read, write: if true;
    }
    match /outgoing_mail/{document} {
      allow read, write: if true;
    }
    match /senders/{document} {
      allow read, write: if true;
    }
    match /tool_manager_categories/{document} {
      allow read, write: if true;
    }
    match /tool_manager_tools/{document} {
      allow read, write: if true;
    }
    match /tool_manager_history/{document} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
